body {
	margin: 0px auto;
	background-color: #fff;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 12px;
}
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.site-content {
	flex: 1;
}
h1 {
	width: 600px;
	height: 80px;
	text-align: center;
	margin: 50px auto 40px auto;
	padding: 10px 0px 0px 0px;
	font-family: "Lobster", cursive;
	font-size: 45px;
	color: #fff;
	background-color: #00a876;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}
#header img {
	display: block;
	margin: 0px auto;
	height: 280px;
}
.selectors, .results {
	width: 650px;
	margin: 10px auto 0px auto;
}
input, select{
	width: 190px;
}
.selectors ul label {
	display: inline-block;
	text-align: center;
	font-weight: bold;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
li:nth-child(2) {
	margin: 0px 34px;
}

button {
	width: 100px;
	height: 30px;
	background-color: #ed002f;
	border-radius: 5px;
	border: 0px;
	font-weight: bold;
	color: #fff;
}
button:hover {
	background-color: #f63e62;
}
.button {
	float: right;
	margin-top: -55px;
	margin-right: -110px;
}
.footer {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	background-color: #00a876;
	color: #fff;
}
.footer a {
	color: #fff;
}
.results {
	width: 650px;
	display: block;
}
/*.info img {
	width: 220px;
	padding-right: 10px;
	float: left;
}*/ 
.info p {
	margin-bottom: 15px;
	/*margin-left: 230px;*/
}
a {
	text-decoration: none;	
}
.info a:link {	
	color: #ed002f;
	font-weight: bold;
}
.info a:visited {
	color: #b22d47;
}
.info a:hover{
	color: #f66f89; 
}
hr {
	height: 1px;
	border: none;
	color: black;
	background-color: black;
}